.table th, .table td {
    /* padding: 1.15rem 2rem;*/
    padding: 0.4rem 0.4rem;
}

table tbody tr {
    cursor: pointer
}




.dt-buttons {
    float: left
}

    .dt-buttons button {
        background-color: #ffffff;
        color: #1a233a;
        height: 35px;
        border: 2px solid #585e75;
        border-radius: 14px;
        margin-bottom: 5px;
        margin-top: -5px;
    }

.dataTables_filter label {
    /* float: left */
}

.dataTables_filter input {
    height: 35px;
    margin-bottom: 3px;
    margin-top: -3px;
}

.bx {
    font-size: 2.28rem;
}

.delete-record {
    cursor: pointer
}
